<html>
<head></head>
<body>
    <a href="/"><< Back</a>
    <hr/>
    <h1><?php echo $vars['post']['name'] ?></h1>
    <p><?php echo $vars['post']['message'] ?></p>
    <em>Author: <?php echo $vars['post']['email'] ?></em>
</body>
</html>