<html>
<head></head>
<body>
    <ul>
        <?php foreach ( $vars['posts'] as $post ): ?>
            <li>
                <h1><a href="/post?id=<?php echo $post['id'] ?>"><?php echo $post['name'] ?></a></h1>
                <p><?php echo $post['message'] ?></p>
                <em>Author: <?php echo $post['email'] ?></em>
            </li>
        <?php endforeach ?>
    </ul>
</body>
</html>